body {
    background-image: url('../images/login_background_repeatx.jpg');
    background-repeat: repeat-x;
    font-family: Ubuntu;
    font-size: 16px;
}

div.page_wrraper {
    width: 600px;
    margin: 60px auto 0 auto;
}

div#login_wrraper {
    margin: 0 auto;
    width: 300px;
}

div.message {
    text-align: center;
    margin-top: 21px;
    color: #000000;
}

div.warning_image {
    margin: 30px auto 0 auto;
    width: 36px;
}

div#login_wrraper form {
    margin: 0;
}

div#login_wrraper form label {
    display: none;
}

div#login_wrraper form input {
    color: #1D3546;
    text-align: center;
    border: 2px ridge #1578bd;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 0px #1578bd;
    -moz-box-shadow: 0px 2px 0px #1578bd;
    box-shadow: 0px 2px 0px #1578bd;
}

div#login_wrraper form input#first_line {
    margin-top: 20px;
}

div#login_wrraper form input[type="text"],
div#login_wrraper form input[type="password"] { 
    width: 300px;
    height: 40px;
    padding: 5px;
    margin: 0;
    margin-bottom: 20px;
}

div#login_wrraper form input[type="submit"] {
    width: 80px;
    height: 40px;
    background-image: url('../images/button_hover1.jpg');
}

div#login_wrraper form input[type="submit"]:hover {
    background-color: #C4EBFF;
    background-image: none;
}

div.align_right {
    text-align: right;
}

a#register:link {
    color: #0084e0;
}

a#register:visited {
    color: #0084e0
}

a#register:hover {
    color: #000000;
}

